<%- include('../partials/header'); %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
.searchtext {
    color:#212529 !important;
    font-weight: 500;
}
</style>
<main style="margin-top: 58px">
  <div class="container pt-4">
   <!--Section: Minimal statistics cards-->
    <section>
     
      <div class="row">
        <div class="col-xl-3 col-sm-6 col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between px-md-1">
                <div>
                  <h3 class="text-danger" id="totalSearchTerms">Loading..</h3>
                  <p class="mb-0">Total Search Terms</p>
                </div>
                <div class="align-self-center">
                  <i class="fas fa-rocket text-danger fa-3x"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between px-md-1">
                <div>
                  <h3 class="text-success" id="totalTokenized">Loading..</h3>
                  <p class="mb-0">Total Tokenized</p>
                </div>
                <div class="align-self-center">
                  <i class="far fa-user text-success fa-3x"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between px-md-1">
                <div>
                  <h3 class="text-warning" id="totalMonetized">loading..</h3>
                  <p class="mb-0">Total Monetized</p>
                </div>
                <div class="align-self-center">
                  <i class="fas fa-chart-pie text-warning fa-3x"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between px-md-1">
                <div>
                  <h3 class="text-info" id="totaltokenvalue">loading..</h3>
                  <p class="mb-0">Total Tokenvalue</p>
                </div>
                <div class="align-self-center">
                  <i class="far fa-life-ring text-info fa-3x"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     
    </section>    
    <section class="mb-4">
      <div class="card">
        <div class="card-header text-center py-3">
          <h5 class="mb-0 text-center">
            <strong>Your Search History</strong>
          </h5>
         <!-- <p> You can control your data </P>
          <strong>Your Total Search: <%=searchCount%></strong> -->
        </div>
        <div class="card-body">
       <% if (message) { %>
       
        <div class="alert fade" id="alert-warning" role="alert" data-mdb-color="warning"
  data-mdb-position="top-right" data-mdb-stacking="true" data-mdb-width="535px"  data-mdb-width="535px"
  data-mdb-append-to-body="true" data-mdb-hidden="true"  data-mdb-autohide="true"  data-mdb-delay="2000"
>
 <%=message%>
</div>
<%}%>
          <div class="table-responsive">
            <table class="table table-hover text-nowrap" id="example">
              <thead>
                <tr>
                  <th scope="col">Search</th>
                  <th scope="col">Time</th>
                  <th scope="col">Tokenize</th>
                  <th scope="col">Monetize</th>
                  <th scope="col"> Search Category</th>
                  <th scope="col">Token Value</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <% if(data.length){ %>
                  <% data.forEach((item)=>{
                  %>
                    <tr>
                      <td>
                        <a class="mt-2 mt-lg-0 searchtext" href="/searchHistory"><%=item.search_term%></a>
                      </td>
                      <td><%=item.session_start%></td>
                      <td>
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="tokenizeToggle<%= item.id %>"
                            <%= item.tokenized === 'Y' ? 'checked' : '' %>
                            onchange="toggleTokenized(this, '<%= item.id %>')" value="<%= item.tokenized %>_<%= item.id %>">
                          <label class="form-check-label" for="tokenizeToggle<%= item.id %>"></label>
                          <script>
                          const tokenizeCheckboxMonetize<%= item.id %> = document.getElementById('tokenizeToggle<%= item.id %>');
                          tokenizeCheckboxMonetize<%= item.id %>.addEventListener('change', () => {
                          const preference = {
                          tokenizeEnabled: tokenizeCheckboxMonetize<%= item.id %>.value,
                          actionbutton: "tokenized"
                          };
                          fetch('/tokenizedMonetizeSingle', {
                          method: 'POST',
                          headers: {
                          'Content-Type': 'application/json'
                          },
                          body: JSON.stringify(preference)
                          });
                          });
                          </script>
                        </div>
                      </td>
                      <td>
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" value="<%= item.monetize %>_<%= item.id %>" id="monetizeToggle<%= item.id %>"
                            <%= item.monetize === 'Y' ? 'checked' : '' %>
                            onchange="toggleMonetize(this, '<%= item.id %>')" 
                            <%= item.tokenized === 'N' ? 'disabled' : '' %> >
                          <label class="form-check-label" for="monetizeToggle<%= item.id %>"></label>
                          <script>
                          const monetizeCheckboxMonetize<%= item.id %> = document.getElementById('monetizeToggle<%= item.id %>');
                          monetizeCheckboxMonetize<%= item.id %>.addEventListener('change', () => {
                          const preference = {
                          tokenizeEnabled: monetizeCheckboxMonetize<%= item.id %>.value,
                          actionbutton: "monetized"
                          };
                          fetch('/tokenizedMonetizeSingle', {
                          method: 'POST',
                          headers: {
                          'Content-Type': 'application/json'
                          },
                          body: JSON.stringify(preference)
                          });
                          });
                          </script>
                        </div>
                      </td>
                       <td><%= item.category %>        

                      </td>  
                        <td><%= item.tokenvalue %></td>                      
                      <td><a href="/deleteSearchTerm/<%= item.id %>" onclick="deleteSearchTerm('<%= item.id %>')"><i class="fas fa-trash-alt"></i> </a>
                      </td>
                    </tr>
                  <% }); %>
                <% } else { %>
                  <tr>
                    <td colspan="6">No records found.</td>
                  </tr>
                <% } %>  
              </tbody>
            </table>
            <script>
              // Get the data from the server and count the number of tokenized items
              fetch('/searchHistory')
                .then(response => response.json())
                .then(data => {
                  const tokenizedCount = data.filter(item => item.tokenized === 'Y').length;
            
                  // Update the text in the card to show the total number of tokenized items
                  const totalTokenizedElement = document.getElementById('totalTokenized');
                  totalTokenizedElement.innerText = tokenizedCount.toString();
                })
                .catch(error => console.error(error));
            </script>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
  <script>
 
 
function deleteSearchTerm(id) {
  if (confirm('Are you sure you want to delete this record?')) {
    fetch(`/api/searchHistory/${id}`, {
      method: 'get',
      headers: { 'Content-Type': 'application/json' },
    })
    .then(response => response.json())
    .then(data => console.log(data))
    .catch(error => console.error(error));
  }
}
  
<!-- Below code for counter  -->
  window.onload = function() {
    const table = document.getElementById('example');
    const rows = table.getElementsByTagName('tr');
    let tokenizedCount = 0;
    let monetizedCount = 0;
    let searchTermsCount = rows.length - 1; //subtract the header row
    for (let i = 1; i < rows.length; i++) {
      const row = rows[i];
      const tokenizeToggle = row.querySelector('input[id^="tokenizeToggle"]');
      const monetizeToggle = row.querySelector('input[id^="monetizeToggle"]');
      if (tokenizeToggle && tokenizeToggle.checked) {
        tokenizedCount++;
      }
      if (monetizeToggle && monetizeToggle.checked) {
        monetizedCount++;
      }
    }
    const totalTokenizedElement = document.getElementById('totalTokenized');
    totalTokenizedElement.innerText = tokenizedCount.toString();
    const totalMonetizedElement = document.getElementById('totalMonetized');
    totalMonetizedElement.innerText = monetizedCount.toString();
    const totalSearchTermsElement = document.getElementById('totalSearchTerms');
    totalSearchTermsElement.innerText = searchTermsCount.toString();
  }
</script>

<!-- End counter card -->

</div>

  <%- include('../partials/footer'); %>