<%- include('../partials/header'); %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<main style="margin-top: 58px">
<div class="container pt-4">
<section class="mb-4">

 <div class="card">
      <div class="card-header text-center py-3">
        

                    <h2 class="text-info">Profiles</h2>

              
      </div>
<!-- Default form register -->
<form action="/updateProfileData" method="POST" name="updateprofile">
 <div class="row mb-4 card-body">
 <div class="col">
      <div class="form-outline">
        <input type="text" id="metamaskid" value="<%= data[0].wallet_id %>" class="form-control" />
        <label class="form-label" for="metamaskid">MetaMask Wallet id</label>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <input type="text" id="userid" name="userId" value="<%= data[0].user_id %>" class="form-control" />
        <label class="form-label" for="userId">User Id</label>
      </div>
    </div>

    
  </div>
  <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row mb-4 card-body">
    <div class="col">
      <div class="form-outline">
        <input type="text" id="form3Example1" name="firstName" value="<%= data[0].first_name %>" class="form-control" />
        <label class="form-label" for="form3Example1">First name</label>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <input type="text" id="form3Example2" name="lastName" value="<%= data[0].last_name %>" class="form-control" />
        <label class="form-label" for="form3Example2">Last name</label>
      </div>
    </div>
  </div>
  <div class="row mb-4 card-body" >
  <div class="col">
  <!-- Email input -->
  <div class="form-outline">
    <input type="email" id="form3Example3" name="emailId" value="<%= data[0].email_id %>"class="form-control" />
    <label class="form-label" for="form3Example3">Email address</label>
  </div>
  </div>
  <div class="col">
  <div class="form-outline">
    <input type="text" id="mobileno" name="mobileNo" value="<%= data[0].phone_no %>" class="form-control" />
    <label class="form-label" for="mobileno">Mobile No</label>
  </div>
  </div>
  </div>
  <div class="row mb-4 card-body">
    <div class="col">
    <!-- Email input -->
    <div class="form-outline">
      <input type="text" id="Address1" name="address1" value="<%= data[0].address_line1 %>"class="form-control" />
      <label class="form-label" for="Address1">Address1 </label>
    </div>
    </div>
    <div class="col">
    <div class="form-outline">
      <input type="text" id="Address2" name="address2" value="<%= data[0].address_line2 %>" class="form-control" />
      <label class="form-label" for="Address2">Address2</label>
    </div>
    </div>
    </div>
  <div class="row mb-4">
  <div class="col">
   <div class="card-body">

                    <div class="form-group">

                        <label for="country">Country</label>

                        <select class="form-control" name="country" id="countryData">

                            <option value="">Select Country</option>

                            <% if(countryList.length){

                                for(var i = 0; i< countryList.length; i++) {%> 

                                    <option value="<%= countryList[i].isoCode %>_ <%= countryList[i].name%>">

                                        <%= countryList[i].name%>

                                    </option>

                                <% } 

                            } %>

                        </select>  

                    </div>

                    <div class="form-group">

                        <label for="state">City</label>

                        <select class="form-control" name="city" id="cityDropdown">
                          <option value="">Select City</option>

                          
                        </select>

                    </div>                        

                   

                </div>
  </div>
  <div class="col">
    <div class="card-body">

                    <div class="form-group">

                        <label for="country">State</label>

                        <select class="form-control" name="state" id="stateDropdown">

                            <option value="">Select State</option>

                            

                        </select>  

                    </div>

                    <div class="col">
                    <br>
  <div class="form-outline">
    <input type="text" id="zipcode" name="zipCode" class="form-control" />
    <label class="form-label" for="zipcode">Zip Code</label>
  </div>

                    </div>                        

                   

                </div>
  </div>
  <div class="col">
    <div class="card-body">

                    <div class="form-group">

                        <label for="country">Language</label>

                        <select class="form-control" name="language" id="language">

                            <option value="">Select Language</option>
                            <option value="hindi">Hindi</option>
                            <option value="english">English</option>


                            

                        </select>  

                    </div>

                    <div class="col">
                    <br>
  <div class="form-outline">
    <input type="text" id="interest" name="interest" class="form-control" />
    <label class="form-label" for="interest">Interest</label>
  </div>

                    </div>                        

                   

                </div>
  </div>
  </div>

 
  <!-- Submit button -->
   <div class="row mb-2">
  <p align="center"><br> <button type="submit" class="btn btn-primary center" type="submit">Submit</button></p>
</div>
 
</form>
<!-- Default profile form -->
 
<script >

    $(document).ready(function() {

        $('#countryData').on('change', function() {

            var country_id = this.value;
            //console.log(country_id);
           // alert(country_id)

            $("#stateDropdown").html('');

            $.ajax({

                url: "https://iy28b1-3000.csb.app/getStateByCountry",

                type: "POST",

                data: { name: 'state',              

                    countryCode:country_id

                },


                dataType: 'json',

                success: function(result) {
                  console.log(result);

                    $('#stateDropdown').html('<option value="">Select State</option>');

                    $.each(result.states, function(key, value) {
                        $("#stateDropdown").append('<option value="' + value.isoCode +"_"+ value.countryCode + "_"+ value.name +'">' + value.name + '</option>');

                    });               

                    $('#cityDropdown').html('<option value="">Select State First</option>');

                }

            });

        });

        

        $('#stateDropdown').on('change', function() {

            var state_id = this.value;

            $("#cityDropdown").html('');

            $.ajax({

                url: "https://iy28b1-3000.csb.app/getCityByCountry",

                type: "POST",

                data: {

                    name: 'state',

                    state_id: state_id,

                },


                dataType: 'json',

                success: function(result) {
                    $('#cityDropdown').html('<option value="">Select City</option>');

                    $.each(result.cities, function(key, value) {

                        $("#cityDropdown").append('<option value="' + value.name + '">' + value.name + '</option>');

                    });

                }

            });

        });

    }); 

</script>
  </section>
  </div>
  </main>



</div>
  <%- include('../partials/footer'); %>